<div class="container-fluid bg-light hero">
  <h1 class="mb-3">portfolio manager</h1>

    <form class="form-group" id="form_add_work">
      <div class="input-group mb-3">
        <input type="text" class="form-control" name="searchBar" id="searchBar" aria-label="Search by title"
            placeholder="search by title">
        <div class="input-group-append">
          <button type="button" class="input-group-text">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                <path fill-rule="evenodd"
                  d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
              </svg>
          </button>
          </div>
        </div>

        <div class="shadow-lg list-group" id="works_list">
        </div>

    </form>
    <h2><a href="/works/add" class="btn btn-primary btn-lg">add work</a></h2>


    </div>
    <div class="row mt-5">

      <div class="col-lg-2 col-sm-4 offset-lg-3 offset-sm-0">
        <div class=" card card-menu" id="menu-sculpture">
          <div class="card-body text-center">
            <a href="/works?mode=sculpture" class="btn btn-dark">sculpture</a>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-sm-4">
        <div class="card card-menu" id="menu-painting">
          <div class="card-body text-center">
            <a href="/works?mode=painting" class="btn btn-dark">painting</a>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-sm-4">
        <div class="card card-menu" id="menu-drawing">
          <div class="card-body text-center">
            <a href="/works?mode=drawing" class="btn btn-dark">drawing</a>
          </div>
        </div>
      </div>
</div>


